<h1 class="text-center h1">{{messageTask()}}</h1>
<p class="startP h4" *ngIf="control">Recupero Task...</p>

<ng-container *ngIf="!control">
  <div class="container d-flex flex-column w-100 align-items-center">
    <p class="mt-5 h4" *ngIf="this.taskArray.length<1">Immetti una task</p>
    <ul class="list-group">
      <li
        *ngFor="let task of this.taskArray"
        class=" list-group-item align-items-center mt-4 h3"
      >


          <button type="button" class="btn btn-primary " (click)="modifica(task.id)">Completa Task</button>
          {{ task.title }}


      </li>
      <li *ngIf="caricamento">...</li>
    </ul>
    <input type="text" [(ngModel)]="task" (keyup.enter)="aggiungi(task);clear()" class="h4"/>
    <button (click)="aggiungi(task);clear()" class="btn btn-primary  mt-5">
      Aggiungi task
    </button>
  </div>
</ng-container>
