<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container-fluid ">

    <div class="navbar-collapse justify-content-center">

      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            [routerLink]="'/'"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/todo']" routerLinkActive="active"
            >Cose da fare</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/completati']"
            routerLinkActive="active"
            >Task completate</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
